<div class="row">
    <div class="col-md-12 titulo">
        <h2>
            Sistema integrado de logística computarizada
        </h2>
        <h2>
            Inventario y mantenimiento
        </h2>
    </div>
    <div class="col-md-12 titulo-principal">
        <div class="contenedor-im-back">
            <div class="col-md-8">
                <h1>
                    SILC-im
                </h1>
                <hr>
            </div>
            <div class="col-md-12">
                <h3>
                    Se autoriza el uso de este producto a:
                </h3>
                <h3>DISI</h3>
            </div>
        </div>
    </div>
</div>