// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";


.simple-notification-wrapper {
    z-index: 2000 !important;
}

.requerido{
    color: red;
}
.alert-danger.alert-requerido{
    padding: 0.3rem 1.25rem !important;
}